* {
    padding: 0;
    margin: 0;
}

main {
    background-image: url('../images/acessar_agenda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ipt1 {
    padding: 13px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px transparent;
    background-color: #fff;
    color: rgb(14, 13, 13);
}

.ipt2 {
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px transparent;
    background-color: #fff;
    color: rgb(14, 13, 13);
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.cont-table {
    width: 900px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
}

.table {
    margin-top: 20px;
}

.btn:hover {
    animation-name: hover_btn;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.52);
}

@keyframes hover_btn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@media (max-width: 960px) {
    .cont-table {
        width: 95%;
    }
    .ipt1 {
        font-weight: bold;
        height: 40px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 0.9rem;
        border: 1px transparent;
        background-color: #fff;
        color: rgb(14, 13, 13);
    }
    .ipt2 {
        font-weight: bold;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 0.9rem;
        border: 1px transparent;
        background-color: #fff;
        color: rgb(14, 13, 13);
    }
}