@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

body {
<<<<<<< HEAD
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
=======
    height: 100vh;
}


.background {
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
    background-image: url('../images/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
<<<<<<< HEAD
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
=======
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
}

.btn1 {
    background-color: #B62FDE;
    padding: 25px 40px 25px 40px;
    font-size: 30px;
    border-radius: 40px;
    border: 3px solid white;
    color: white;
    font-family: 'Passion One', cursive;
}

.btn2 {
    background-color: #3783F5;
    padding: 25px 36px 25px 36px;
    font-size: 30px;
    border-radius: 40px;
    border: 3px solid white;
    color: white;
    font-family: 'Passion One', cursive;
}

<<<<<<< HEAD
.content-center {
    margin-top: 100px;
    height: 280px;
    display: flex;
    justify-content: center;
}

=======
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
.div1 {
    margin-right: 180px;
}

.div2 {
    margin-left: 180px;
}

<<<<<<< HEAD
.content-clock {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
=======
.cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-center {
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
}

button:hover {
    animation-name: hover_btn;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.52);
}

<<<<<<< HEAD
.footer {
    height: 40px;
=======
.clock-content {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

.footer {
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
    background-color: #000;
    color: #fff;
}

@keyframes hover_btn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@media(max-width:970px) {
<<<<<<< HEAD
    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-top: -80px;
    }
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 50px;
    }
    .content-center {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
=======
    .content-center {
        display: flex;
        flex-direction: column;
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
    }
    .btn1 {
        background-color: #B62FDE;
        padding: 25px 40px 25px 40px;
<<<<<<< HEAD
        font-size: 25px;
=======
        font-size: 20px;
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
        border-radius: 40px;
        border: 3px solid white;
        color: white;
        font-family: 'Passion One', cursive;
    }
    .btn2 {
        background-color: #3783F5;
        padding: 25px 36px 25px 36px;
<<<<<<< HEAD
        font-size: 25px;
=======
        font-size: 20px;
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
        border-radius: 40px;
        border: 3px solid white;
        color: white;
        font-family: 'Passion One', cursive;
    }
<<<<<<< HEAD
    .content-clock {
        margin-top: 0px;
=======
    .div1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-top: -100px;
    }
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 50px;
>>>>>>> dd368ef5e26bea693adcd461cb960431f942a45b
    }
    .clock {
        font-size: 2.5rem;
    }
    
}
